<?xml version="1.0"?>
<configuration>
 
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PlantView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
  <connectionStrings>
    <add name="PlantViewEntities" connectionString="metadata=res://*/PlantViewModel.csdl|res://*/PlantViewModel.ssdl|res://*/PlantViewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=PlantView;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PlantView.Properties.Settings>
            <setting name="yearIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="monthIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dayIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dateDivider" serializeAs="String">
                <value>/</value>
            </setting>
        </PlantView.Properties.Settings>
    </userSettings>
</configuration>
